.styles-module_Editext__view_container__3oSYx {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 45px;
}

.styles-module_Editext__buttons_after_aligned__2ZHQz {
	border: none;
}

.styles-module_Editext__button__sxYQX {
	background-color: #fff !important;
	border-color: #fff !important;
}

.styles-module_Editext__edit_button__310_J::before {
	font-size: 30px;
	color: #156B2D;

}

.styles-module_Editext__button__sxYQX:hover {
	background-color: #fff !important;
	transform: scale(1.1);
	color: #044e19;
}

.task {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
}

.task-title {
	display: flex;
	flex-direction: row;
	align-items: center;
	text-align: left;
	gap: 0px;
	font-family: Monda;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.divider {
	position: relative;
	z-index: 5;
	height: 2px;
	background: #3E3B3B;
	box-shadow: 0px 4px 4px 0px #C8E3EC;
	margin: 10px 0 0;
}

.task-description {
	display: flex;
	flex-direction: row;
	text-align: left;
	align-items: center;
	margin-top: 0;
	margin-right: 25px;
}

.task-uncomplete {
	flex: 1 0 auto;
	color: #C4C4C4;
	text-decoration: line-through;
}

.task-uncomplete button {
	display: none;
}

.task-complete {
	flex: 1 0 auto;
	color: #3E3B3B;
}

.task-uncomplete-s {
	flex: 1 0 auto;
	color: #C4C4C4;
	text-decoration: line-through;
	font-size: 12px !important;
}

.task-uncomplete-s button {
	display: none;
}


.task-complete-s {
	flex: 1 0 auto;
	color: #3E3B3B;
	font-size: 12px;
}