.empty-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	text-align: center;
	font-family: Monda;
	font-size: 30px;
	font-weight: 700;
	line-height: normal;
	color: #8a8989;
}

.empty-image {
	width: 30%;
}