.page {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: stretch;
	width: 70%;
	flex: 1 1 auto;
	margin: 0 auto;
}

.input-container {
	position: relative;
	z-index: 2;
	bottom: 125px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	gap: 25px;

}

.input-container-item {
	width: 100%;
}

.tasks-container {
	display: flex;
	flex-direction: column;
	gap: 35px;
	margin-bottom: 50px;
	margin-top: -60px;
}

.statistic-container {
	display: flex;
	flex-direction: row;
	flex-shrink: 0;
	justify-content: space-between;
	align-items: center;
	background: #ACD4E1;
	padding: 23px 29px;
}

.statistic-container-items {
	display: flex;
	flex-direction: row;
}

.statistic-container-items p {
	display: flex;
	align-items: center;
	font-family: Monda;
	font-size: 20px;
}

.statistic-number {
	display: flex;
	margin: 0 3px;
	padding: 5px 9px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
	border-radius: 999px;
	background: #A8D2A5;
	font-weight: 700;
	color: #000701;
}

@media (max-width: 1024px) {
	.statistic-container-items p {
		font-size: 16px;
	}

}

@media (max-width: 768px) {
	.page {
		width: 100%;
	}

	.input-container,
	.tasks-container {
		padding: 0px 50px;

	}

	.tasks-container {
		margin-top: -100px;
	}

	.statistic-container {
		flex-direction: column;
		gap: 25px;
	}

	.statistic-container-items p {
		font-size: 14px;
	}

}